:root {
    --title-color: #1d1d1d;
    --text-color: #787878;
    --desc-color: #8a8a8a;

    --white: #fff;
    --black: #000;
    --blue: #10c9c3;
    --gray-e9: #e9e9e9;
    --gray-f9: #8a8a8a;

    --header-height: 100px;
    --slider-height: 570px;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.btn {
    padding: 20px 45px;
    
    color: var(--blue-color);
    background-color: transparent;
    
    font-size: 12px;
    /* line-height: 84px; */
    
    border: none;
    border-radius: 2px;
    outline: none;

    cursor: pointer;
    transition: ease 0.2s;
    display: block;
}

.btn--primary {
    background-color: var(--blue);
    color: var(--white);

    font-weight: 600;
}

.btn--primary:hover {
    filter: brightness(120%);
}
